.gif-container1 {
    width: 200px; /* adjust to your GIF size */
    height: 200px; /* adjust to your GIF size */
    background-image: url('/assets/img/cleaning-static.png'); /* path to the static image */
    background-size: cover;
    background-position: center;
    position: relative;

}
.gif-container2 {
    width: 200px; /* adjust to your GIF size */
    height: 200px; /* adjust to your GIF size */
    background-image: url('../../assets/img/people-handshake-transaction-static.png'); /* path to the static image */
    background-size: cover;
    background-position: center;
    position: relative;

}
.gif-container3 {
    width: 200px; /* adjust to your GIF size */
    height: 200px; /* adjust to your GIF size */
    background-image: url('../../assets/img/petrol-miner-static.png'); /* path to the static image */
    background-size: cover;
    background-position: center;
    position: relative;
}
.gif-container4 {
    width: 200px; /* adjust to your GIF size */
    height: 200px; /* adjust to your GIF size */
    background-image: url('../../assets/img/facilities-management-static.png'); /* path to the static image */
    background-size: cover;
    background-position: center;
    position: relative;
}
.card-item .gif {
    display: none;
}

.card-item:hover .gif {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card-item:hover{
    cursor: pointer;
}

.card-item:hover .gif-container1{
    background-image: none;
}
.card-item:hover .gif-container2{
    background-image: none;
}
.card-item:hover .gif-container3{
    background-image: none;
}
.card-item:hover .gif-container4{
    background-image: none;
}
.tab-content{
    margin-bottom: 20px;
    height: 250px;;
}


 main{
    background-color: #141616;
    background-image: linear-gradient(135deg, #141616 0%, #4c4c4c 99%, #121211 100%);
    
}
#Services-de-soutien{
    background-color: transparent;
}
#aux{
    background-color: transparent;
}