.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 150px 0px 150px 0px;
    position: relative;
    padding: 50px;
    
    background-color: #1e1e1e; /* Dark grey for contrast */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    overflow: hidden; /* Ensures content doesn't overflow the rounded corners */

}
.card-container .text-container:nth-child(even){
  margin-left: 50px;
}
@media (max-width:1200px) {
  .card-container .text-container:nth-child(even){
  margin: unset;
  }
}

.card-container  img {
    width: 400px;
    height: auto;

}
.text-container > p {
    font-size: 1.1em;
}

.text-container > h3{
    text-decoration: double;
    color: #CDA45E;
    font-size: 2em;
}

@media (max-width:1200px) {
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .card-container img {
    padding: unset;
  }
  .item-1 {
    order: 3; 
  }
  .item-2 {
    order: 1; 
  }
  .item-3 {
    order: 2; 
  }
}

#ServicesCatering{
    background-color: #141616;
background-image: linear-gradient(135deg, #141616 0%, #4c4c4c 99%, #121211 100%);

}

