.image-container {

    border-image: fill 0 linear-gradient(#0001,#000)  url('/assets\img\food-passion.png'); /* path to the static image */
    background-size: cover;
    background-position: center;
    position: relative;

}
